/* You can add global styles to this file, and also import other style files */
[hidden] { display: none !important;}
*{
    box-sizing:border-box;
    font-family: sans-serif;
}
label{
    text-align:right;
    display:inline-block;
    width:150px;
}

button{
    background:darkgreen;
    margin:10px;
    padding:10px 15px;
    border-radius: 5px;
    font-size:16px;
    outline: none;
    color:#fff;
}
.center-block{
    display:block;
    margin:10px auto;
}