/* You can add global styles to this file, and also import other style files */
[hidden] { display: none !important;}
*{
    box-sizing:border-box;
    font-family: sans-serif;
}
label{
    text-align:right;
    display:inline-block;
    width:150px;
}

button{
    background:darkgreen;
    margin:10px;
    padding:10px 15px;
    border-radius: 5px;
    font-size:16px;
    outline: none;
    color:#fff;
}
.center-block{
    display:block;
    margin:10px auto;
}
ul{
    padding:0;
}
.tree-block {
    border:1px solid black;
    padding: 15px;
    list-style-type: none;
    display: block;
}

.tree-wrapper{
    border: 1px solid violet;
}

.actual-level{
    border: 1px solid orange;
}